#banner {
    background-image: url('../Assets/bookBackground.jpg');

    /* Full height */
    height: 100vh;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 15%;
    margin: 2%
}

.alignRight {
    float: right;
}

.inline {
    display: flex;
    -background-color: red;
}

ul {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.category {
    margin: 0px 20px 0px 20px;
    padding: 15px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    justify-self: center; 
    align-self: center;
}

#catergories {
    padding: 100px;
    width: 60%;
    -height: 100%;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    justify-items: space-between;
    align-items: center;
    font-size: 20px;
    background-color: blue;
}

#cart {
    min-width: 100px;
    height: 100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-self: center; 
    align-self: center;
    background-color: #F4F9FF;
    color: #707070;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2px 20px 2px 10px;
}

#smallCart {
    min-width: 100px;
    height: 100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-self: center; 
    align-self: center;
    background-color: #F4F9FF;
    color: #707070;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2px 10px 2px 5px;
}

#browseHeader {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
    height: 80px;
    background-color: #0184C7;
    color: white;
}

#browseTitle {
    word-wrap: break-word;
    margin-left: 5%;
    height: 100%;
    font-size: 22px;
    padding-right: 10px;
    -width: 25%;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-self: center; 
    align-self: center;
    -background-color: greenyellow;
}

.rightBorder {
    border-right: white solid 2px;
}

.center {
    -background-color: red;
    text-align: center;
}

.lg-view{
    display:inline-block;
 }
 
 .sm-view{
    display:none;
 }

@media screen and (max-width: 500px) {
    .lg-view{
       display:none;
    }

    .sm-view{
       display:inline-block;
    }

    #browseTitle {
        word-wrap: break-word;
        margin-left: 5%;
        padding: 0;
        height: 100%;
        min-width: 150px;
        font-size: 22px;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-self: center; 
        align-self: center;
        -background-color: greenyellow;
    }
}

.center {
    justify-content: space-between;
    align-content: space-between;
    justify-items: center;
    align-items: center;
}

.button {
    background-color: #0184C7; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.menuItem:hover {
    text-decoration: underline;
}

.fade-in {
    opacity: 0;
    
}

.fade-in.visible {
    transition: opacity 0.5s ease-in;
    animation: pop 0.3s linear 1;
    opacity: 1;
}

@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
}

@keyframes push{
    50%  {transform: scale(1.1);}
}
  
@keyframes pop{
    50%  {transform: scale(1.2);}
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover{
    cursor:pointer;
    transform: scale(1.1);
}

.growX {
    transition: all .2s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(98, 192, 89, 0.24), 0 17px 50px 0 rgba(97, 194, 59, 0.19);
}

.growX:hover{
    cursor:pointer;
    transform: translate(-20px, 0);
    box-shadow: 0 12px 16px 0 rgba(98, 192, 89, 1), 0 17px 50px 0 rgba(97, 194, 59, 1);
}

.scrollHide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.scrollHide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
